body{
    background-color: black;
    width: 100%;

}

main{
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a{
    
    text-decoration: none;
    color: aliceblue;}
    
    @media (max-width: 500px){
       
    main{
        width: 100%;
        align-items: center;
    }
    img{
       width: 200px; 
    }
        
    }